# GENERAL INFO - https://de.atlassian.com/git/tutorials/saving-changes/gitignore

#######################################################
# update gitignore - https://github.com/facebook/react-native/issues/13863
#######################################################
# git rm -r --cached .
# git add .
# git commit -m ".gitignore is now working"


#######################################################
# CUSTOM
#######################################################
#yarn.lock

# macOS
.DS_Store*
.DS_STORE

# REACT builds
build/

.nvm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# NODE
node_modules

# YARN
.yarn-integrity
yarn-debug.log*
yarn-error.log*

# VSCODE
.vscode


# LOGS
*.log*
npm-debug.log*


# Watchman
.watchmanconfig


# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# Runtime data
pids
*.pid
*.seed
*.pid.lock


# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz




# XCODE
## build/
## User settings
xcuserdata/
DerivedData/
## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

*.xcuserstate
project.xcworkspace